@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Manrope', sans-serif;
  }
  body {
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-password-reveal::-ms-reveal,
  .no-password-reveal::-ms-clear {
    display: none;
  }
  .no-password-reveal::-webkit-textfield-decoration-container {
    display: none !important;
  }
}
